// ==========================================================================
// App
// ==========================================================================

.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 10px;
  text-align: center;
}

.button {
  background: darken(#09FFB6, 10%);
  border: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  outline: none;
  transition: background 250ms ease-in;

  &:hover,
  &:focus {
    cursor: pointer;
    background: darken(#09FFB6, 15%);
  }
}

.title {
  margin: 40px auto;
  font-weight: bold;
  font-size: 18px;
}
